
<!DOCTYPE html>
<html> 
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Future Project</title>
		<script src="https://code.jquery.com/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/contactMain.css">
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>


		
    </head>
	

    <body>
		
	<div class="ui vertical masthead center aligned " id="fade-scroll">
	<div class="ui grid container">
		 
		 <h1 id="toggle-bar" >☰</h1>
		
		<div class="ui large secondary pointing menu" style="border-bottom: none;">
			<div class="mainMenu">
				 <a class="item" href="/">
					My Portfolio
				  </a>
				
				  <a class="item active" href="contact">
					More Information
				  </a>
				
			</div>
		</div>
	</div>