<div class="footer">
		<div class="ui middle aligned stackable grid container">

		
		<div class="center aligned row">	
			
		
			
			<div class="content">
				<h4>Find me on social media</h4>
			<!-- //end of inverted masthead grid -->
				<div class="extra">
					<a class="ui circular facebook icon button" href="https://www.facebook.com/jacob.janowski.12" target="_blank">
					  <i class="facebook icon"></i>
					</a>
					<a class="ui circular linkedin icon button" href="https://www.linkedin.com/in/jacob-janowski-73375b13a/" target="_blank">
					  <i class="linkedin icon"></i>
					</a>
							<a class="ui circular github icon button" href="https://www.github.com/jacjanowski" target="_blank">
					  <i class="github icon"></i>
					</a>
				</div>
			</div>
	  </div>
		
		

	  </div>

			<p id="footer-text">Created by Jacob Janowski, student at UIC class of 2021. 
		<br>
		This portfolio was created using HTML, CSS, and NodeJS. Deployed using Heroku.</p>
	
		
	</div>

	
	
</div>
    <script>
    function toggleMenu() {
        let getMenu = document.querySelector(".mainMenu");
        getMenu.classList.toggle("hamburger");
        }

        let getHamburger = document.querySelector("#toggle-bar");

        getHamburger.addEventListener("click", toggleMenu);    
    </script>

	<script type="text/javascript" src="/stylesheets/model.js"></script>

	</body>
</html>
	

