


<div class="ui segment" id="footer">
  <div class="ui one column stackable grid container">
    <!-- <div class="column" id="footer-text">
      <p><h3 style="display: flex;">Classes I'm enrolled in for Fall 2021 (final semester)</h3></p>
      <p>Object Oriented Programming</p>
      <p>Mobile Development with Android Studios</p>
      <p>Virtual and Augmented Reality</p>
	  <p>Latin American Music</p>
    </div>

	  
	  <div class="column">
		<div class="ui horizontal divider">
		  and
	    </div>
	  </div> -->

    <div class="column">
		<div class="center aligned row">	
			
			
			
			<div class="content">
				<h3>Let's stay in touch</h3>
			 <!-- //end of inverted masthead grid  -->
				<div class="extra">
					<a style="background: rgb(248,255,38);
background: linear-gradient(13deg, rgba(248,255,38,1) 0%, rgba(255,71,153,1) 65%);" class="ui circular facebook icon button" href="https://www.instagram.com/jacobjanowski/" target="_blank">
					  <i class="fab fa-instagram"></i>
					</a>
					<a class="ui circular linkedin icon button" href="https://www.linkedin.com/in/jacob-janowski-73375b13a/" target="_blank">
					  <i class="linkedin icon"></i>
					</a>
							<a class="ui circular github icon button" href="https://www.github.com/jacjanowski" target="_blank">
					  <i class="github icon"></i>
					</a>
				</div>
			</div>
	  </div> 
		
      
    </div>
	
  </div>

</div>



<!-- <div class="footer">
		<div class="ui middle aligned stackable grid container">

		
		<div class="center aligned row">	
			
		
			
			<div class="content">
				<h4>Let's stay in touch</h4>
			<!-- //end of inverted masthead grid -->
				<!-- <div class="extra">
					<a class="ui circular facebook icon button" href="https://www.facebook.com/jacob.janowski.12" target="_blank">
					  <i class="facebook icon"></i>
					</a>
					<a class="ui circular linkedin icon button" href="https://www.linkedin.com/in/jacob-janowski-73375b13a/" target="_blank">
					  <i class="linkedin icon"></i>
					</a>
							<a class="ui circular github icon button" href="https://www.github.com/jacjanowski" target="_blank">
					  <i class="github icon"></i>
					</a>
				</div>
			</div>
	  </div>
		
		

	  </div>
	
		<div class="column">
			
			
	</div>
			
		<p id="footer-text">Please feel to email me at any time with the email listed above.
		<br>
		</p>
	
		
	</div>

	
	
</div>  -->
    <script>
    function toggleMenu() {
        let getMenu = document.querySelector(".mainMenu");
        getMenu.classList.toggle("hamburger");
        }

        let getHamburger = document.querySelector("#toggle-bar");

        getHamburger.addEventListener("click", toggleMenu);    
    </script>

	<script type="text/javascript" src="/stylesheets/model.js"></script>

	</body>
</html>
	

