<div class="footer">
	<h2>Website Information</h2>
	<p id="footer-text"><em>Created by Jacob Janowski, student at UIC class of 2021. 
		<br>
		This was created using HTML, NodeJS, JS, and CSS and deployed using Heroku.</em></p>
	
	
	
</div>
    <script>
    function toggleMenu() {
        let getMenu = document.querySelector(".mainMenu");
        getMenu.classList.toggle("hamburger");
        }

        let getHamburger = document.querySelector("#toggle-bar");

        getHamburger.addEventListener("click", toggleMenu);    
    </script>

	<script type="text/javascript" src="/stylesheets/model.js"></script>

	</body>
</html>
	

