    
<div class="footer">
	<h2>Website Information</h2>
	<p id="footer-text"><em>Created by Jacob Janowski, student at UIC class of 2021. 
		<br>
		This was created using HTML, NodeJS, JS, and CSS and deployed using Heroku.</em></p>
</div>


	<script type="text/javascript" src="/stylesheets/model.js"></script>
	</body>
</html>