<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <title>Future Project</title>
		<script src="https://code.jquery.com/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>


		
    </head>
    <body>
		<div class="ui large secondary pointing menu">
		  <a class="item">
			Home
		  </a>
		  <a class="item">
			Messages
		  </a>
		  <a class="item active">
			Friends
		  </a>
		  <div class="right menu">
			<a class="ui item">
			  Logout
			</a>
		  </div>
		</div>

