<%- include("partials/contactHeader") %>




	<div class="ui middle aligned stackable grid container">
		  <h1 class="ui center aligned inverted icon header">
		  <i class="circular inverted address card icon"></i>
		  Other Contact Information
		</h1>
		
		<div class="center aligned row">	
			
		
			
			<div class="content">
				<h3>Find me on social media</h3>
			<!-- //end of inverted masthead grid -->
				<div class="extra">
					<a class="ui circular facebook icon button" href="https://www.facebook.com/jacob.janowski.12" target="_blank">
					  <i class="facebook icon"></i>
					</a>
					<a class="ui circular linkedin icon button" href="https://www.linkedin.com/in/jacob-janowski-73375b13a/" target="_blank">
					  <i class="linkedin icon"></i>
					</a>
							<a class="ui circular github icon button" href="https://www.github.com/jacjanowski" target="_blank">
					  <i class="github icon"></i>
					</a>
				</div>
			</div>
	  </div>
		
		

	  </div>

		
		
	</div>






<%- include("partials/footer") %>