<%- include("partials/contactHeader") %>




	<div class="ui middle aligned stackable grid container">
		  <h1 class="ui center aligned header"> More About Me</h1>
		
		<div class="ui internally celled grid">
		  <div class="row">
			<div class="five wide column">
			  <img src="/stylesheets/imgs/uic.png">
				<img src="/stylesheets/imgs/uic.png">
			</div>
			<div class="ten wide column">
			  <h3>My Education</h3>
				<p id="school-info-text">
					jasdjhoiasdjfoa io;adof ihjl;aksdfj h;lka j;lf d;l asd;jlk fj;lkasd;lkj f;lkj sdfaj;lk fsjl;kas d;ljk fsadjl;k fasd;jlkfds;jlf dkl;dfj lks j;sl fdjl
					
				</p>
			</div>
		  </div>
		
		<div class="center aligned row">
			<div class="ui ordered steps">
			  <div class="completed step">
				<div class="content">
				  <div class="title">UIC School of Engineering</div>
				  <div class="description">Joined in Winter of 2019</div>
				</div>
			  </div>
			  <div class="completed step">
				<div class="content">
				  <div class="title">Foundational Classes</div>
				  <div class="description">Data Structures, Software Design, Algorithms</div>
				</div>
			  </div>
			  <div class="active step">
				<div class="content">
				  <div class="title">Internship</div>
				  <div class="description">Still looking...</div>
				</div>
			  </div>
				<div class="active step">
				<div class="content">
				  <div class="title">Full-time Job</div>
				  <div class="description"></div>
				</div>
			  </div>
			</div>
		</div>
		
	
		</div>
	</div>







<%- include("partials/footer") %>