<%- include("partials/contactHeader") %>

<div class="ui middle aligned stackable grid container">
	<h1 class="ui center aligned header">Academic Career</h1>

	<div class="ui internally celled grid">
		<div class="row">
			<div class="five wide column">
				<img
					id="contact-pic"
					class="ui small circular image"
					src="/stylesheets/imgs/cod.png"
				/>
				<img
					id="contact-pic"
					class="ui small circular image"
					src="/stylesheets/imgs/uic.png"
				/>
			</div>
			<div class="ten wide column">
				<h3 class="ui header">Education</h3>
				<div class="ui list">
					  <div class="item">
						<i class="circle notch icon"></i>
						<div class="content">
						  <a class="header">Degree</a>
						  <div class="description">BS in Computer Science - Software Developer</div>
						</div>
					  </div>
					  <div class="item">
						<i class="circle notch icon"></i>
						<div class="content">
						  <a class="header">Winter 2019</a>
						  <div class="description">Transferred from College of DuPage to Univeristy of Illinois at Chicago</div>
						</div>
					  </div>
					   </div>

			</div>
		</div>

		<div class="row">
			<div class="five wide column">
				<img
					id="contact-pic"
					class="ui small circular image"
					src="/stylesheets/imgs/html.png"
				/>
				<img
					id="contact-pic"
					class="ui small circular image"
					src="/stylesheets/imgs/cpp.png"
				/>
				<img
					id="contact-pic"
					class="ui small circular image"
					src="/stylesheets/imgs/mongodb.png"
				/>
				<img
					id="contact-pic"
					class="ui small circular image"
					src="/stylesheets/imgs/mysql.png"
				/>
				<img
					id="contact-pic"
					class="ui small circular image"
					src="/stylesheets/imgs/javascript.png"
				/>
				<img
					id="contact-pic"
					class="ui large circular image"
					src="/stylesheets/imgs/react.png"
				/>
			</div>
			<div class="ten wide column">
				<h3 class="ui header">Programming Experience</h3>
					<div class="ui list">
					  <div class="item">
						<i class="circle notch icon"></i>
						<div class="content">
						  <a class="header">Most Skilled In</a>
						  <div class="description">HTML, CSS, JavaScript, C++</div>
						</div>
					  </div>
					  <div class="item">
						<i class="circle notch icon"></i>
						<div class="content">
						  <a class="header">Proficient In</a>
						  <div class="description">C, Java, SQL, React Native, Python</div>
						</div>
					  </div>
					  <div class="item">
						<i class="circle notch icon"></i>
						<div class="content">
						  <a class="header">Intermediate In</a>
						  <div class="description">Android Studios, Flutter</div>
						</div>
					  </div>
					</div>

				<h3 class="ui header">Frameworks and Libraries</h3>
				<div class="ui middle aligned divided list">
					<div class="item">
						<div class="content">
							<a class="header">MySQL</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">BeautifulSoup4</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">NodeJS</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">React Native</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">Cheerio.js</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">Bootstrap 3,4 & Sematic UI</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">Mongoose</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">JQuery</a>
						</div>
					</div>
				</div>
				
				<h3 class="ui header">APIs used in practice</h3>
					<div class="ui middle aligned divided list"> 
						<div class="item">
							<div class="content">
								<a class="header">Discord API</a>

							</div>
						</div>
						
						<div class="item">
							<div class="content">
								<a class="header">Yelp API</a>

							</div>
						</div>
						
						<div class="item">
							<div class="content">
								<a class="header">IMDb API</a>

							</div>
						</div>
						<div class="item">
							<div class="content">
								<a class="header">Unsplash API</a>

							</div>
						</div>
						
					</div>
				
		
			
				
			</div>
		</div>
	</div>

	
	
	
	
	<div class="center aligned row">
		<div class="ui ordered steps">
			<div class="completed step">
				<div class="content">
					<div class="title">UIC School of Engineering</div>
					<div class="description">Joined in Winter of 2019</div>
				</div>
			</div>
			<div class="completed step">
				<div class="content">
					<div class="title">Foundational Classes</div>
					<div class="description">Data Structures, Software Design, Algorithms</div>
				</div>
			</div>
			<div class="active step">
				<div class="content">
					<div class="title">Internship</div>
					<div class="description">Nothing accepted as of <%=date %></div>
				</div>
			</div>
			<div class="step">
				<div class="content">
					<div class="title">Graduation</div>
					<div class="description">Fall of 2021</div>
				</div>
			</div>
		</div>
	</div>
	

	

</div>

<%- include("partials/footer") %>