<%- include("partials/contactHeader") %>

<div class="ui middle aligned stackable grid container">
	<h1 class="ui center aligned header">Academic Career</h1>

	<div class="ui internally celled grid">
		<div class="row">
			<div class="five wide column">
				<img
					id="contact-pic"
					class="ui small circular image"
					src="/stylesheets/imgs/cod.png"
				/>
				<img
					id="contact-pic"
					class="ui small circular image"
					src="/stylesheets/imgs/uic.png"
				/>
			</div>
			<div class="ten wide column">
				<h3 class="ui header">My Education</h3>
				<div class="school-info">
					<li>Computer Science Major</li>
					<li>Software Development/Web Development</li>
					<li>Transfer student from College of DuPage to University of Illinois in Chicago in
					the Winter of 2019.</li>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="five wide column">
				<img
					id="contact-pic"
					class="ui small circular image"
					src="/stylesheets/imgs/html.png"
				/>
				<img
					id="contact-pic"
					class="ui small circular image"
					src="/stylesheets/imgs/cpp.png"
				/>
				<img
					id="contact-pic"
					class="ui small circular image"
					src="/stylesheets/imgs/mongodb.png"
				/>
				<img
					id="contact-pic"
					class="ui small circular image"
					src="/stylesheets/imgs/mysql.png"
				/>
			</div>
			<div class="ten wide column">
				<h3 class="ui header">Programming Experience</h3>
				<div class="ui middle aligned divided list">
					<div class="item">
						<div class="content">
							<a class="header">C++</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">C</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">Python</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">Java</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">HTML, CSS, JavaScript</a>
						</div>
					</div>

					<div class="item">
						<div class="content">
							<a class="header">SQL</a>
						</div>
					</div>

					<div class="item">
						<div class="content">
							<a class="header">Flutter</a>
						</div>
					</div>
				</div>

				<h3 class="ui header">Frameworks and Libraries</h3>
				<div class="ui middle aligned divided list">
					<div class="item">
						<div class="content">
							<a class="header">MySQL</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">BeautifulSoup4</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">NodeJS</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">Cheerio.js</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">Bootstrap 3,4 & Sematic UI</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">Mongoose</a>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<a class="header">JQuery</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="center aligned row">
		<div class="ui ordered steps">
			<div class="completed step">
				<div class="content">
					<div class="title">UIC School of Engineering</div>
					<div class="description">Joined in Winter of 2019</div>
				</div>
			</div>
			<div class="completed step">
				<div class="content">
					<div class="title">Foundational Classes</div>
					<div class="description">Data Structures, Software Design, Algorithms</div>
				</div>
			</div>
			<div class="active step">
				<div class="content">
					<div class="title">Internship</div>
					<div class="description">Actively searching. It's now <%=date %></div>
				</div>
			</div>
			<div class="active step">
				<div class="content">
					<div class="title">Graduation</div>
					<div class="description">Fall of 2021</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer") %>