<%- include("partials/header") %>


<div class="ui inverted vertical masthead center aligned segment" id="fade-scroll">
	
	<div class="ui large inverted secondary pointing menu">
	  <a class="item">
		Home
	  </a>
	  <a class="item">
		Messages
	  </a>
	  <a class="item active">
		Friends
	  </a>
	</div>

	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="six wide column">
				<h1 class="ui inverted header">Jacob Janowski</h1>
				<img src="/stylesheets/imgs/brothers.jpg">
				<button class="ui button primary" id="modalBtn"><i class="phone icon"></i>Contact</button>
			</div>
			
			<div class="ten wide column">
				<div class="ui text container">
		 		 <p class="ui right aligned" id="banner-text">I am a sofineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with udent at UIC with a <em>great </em>passion for web development!</p>
			</div>
				
			
		</div>
	</div>
</div> 
	<!-- end grid -->
	
</div>
			

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Help Companies and Companions</h3>
          <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
          <h3 class="ui header">We Make Bananas That Can Dance</h3>
          <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
        </div>
        <div class="six wide right floated column">
          <img src="/stylesheets/imgs/brothers.jpg" class="ui large bordered rounded image"> 
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>

  


</div>



<!------- MODAL BUTTON POP UP INFORMATION ------->
<div class="ui basic modal" id="modalShow">
  <div class="ui icon header">
    <i class="phone icon"></i>
    Contact me
  </div>
  <div class="content">
      <h3 class="ui inverted header center aligned"><em>Phone number: </em><span>(630)-339-6781</span></h3>
	  <h3 class="ui inverted header center aligned"><em>Email: </em><span>jjanow7@uic.edu</span></h3>
	  <h3 class="ui inverted header center aligned"><em>LinkedIn: </em><a href="https://www.linkedin.com/in/jacob-janowski-73375b13a/">Go there!</a></h3>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>
<%- include("partials/footer") %>