<%- include("partials/homepageHeader") %>




	<div class="ui middle aligned stackable grid container">
		
			<div class="six wide column">
				<h1 class="ui inverted header" id="name">Jacob Janowski</h1>
				<img src="/stylesheets/imgs/header.jpg" class="ui large circular image" id="profile-pic">
				
			</div>
			
			
				<div class="ui middle aligned text container ">
		 		 <p id="banner-text">I am a software engineering student at the University of Illinois in Chicago. Passionately writing code and exploring potential avenues for my future. Feel free to message me if I can be of any help with your production.</p>
				<button class="ui inverted blue button" id="modalBtn"><i class="phone icon"></i>Contact</button>
				<a class="button" target="_blank" href="https://resume.creddle.io/resume/94pcrk7d11z">My Résumé</a>
				</div>
				
			
		</div> 
	<!-- end grid -->
	</div>
			

	
<!------------ The first row of pictures/information of project -------------------->
<section>


	<div class="ui basic segment">
		<div class="ui middle aligned stackable grid container">
		  <div class="row">
			<div class="eight wide column">
			  <h3 class="ui header" style="display: inline-block;">
				  <a href ="https://github.com/jacjanowski/colorGame" id="project">Color Game </a>
				 
				</h3>
				<div class="meta" style="display: inline-block; color: gray;"> <em> -- click to view code</em> </div>
			  <p>This is a simple game where the user is given a random RGB value and is to correctly guess which colored tile represents that specific value. When wrong, the tiles disappear. When correct, the whole game board will light up with that color and prompt the user if they wish to play again. There are two modes: Easy, with three tiles, or Hard, with six. This program made use of JQuery, JS, HTML, and CSS <em style="color: black;">(Created together with Colt Steele from Udemy.com)</em></p>
			</div>
			<div class="six wide right floated column">
			  <img src="/stylesheets/imgs/colorGame.gif" class="ui large rounded image" id="zoom"> 
			</div>
		  </div>

			<!-- end grid container -->
		</div>
	</div>
</section> 

<!------------ The second row of pictures/information of project -------------------->

	
<section>
	<div class="ui basic segment">
		<div class="fade">
			<div class="ui middle aligned stackable grid container">
			  <div class="row">
				<div class="six wide left floated column">
				  <img src="/stylesheets/imgs/discord_bot.gif" class="ui large rounded image" id="zoom"> 
				</div>
				  <div class="eight wide column">
				  <h3 class="ui header">
					<a href="https://github.com/jacjanowski/Discord" id="project">Discord Bot</a>  
				  </h3>
					  <p>This program entails an API from Discord that allows me to create a bot for a particular channel. For example, in this picture you see that I make a few calls such as <mark>'!help'</mark> or <mark>'!fact'</mark> which will perform certain actions based on the commands provided. Users of this channel will be able to make several different calls to the bot to interact with it and have a better experience with the information it provides back to the user. This was made using Javascript with frameworks such as NodeJS and Cheerio.js.</p>
				</div>
			  </div>
			</div>
			<!-- end grid container -->
		</div>
	</div>
</section>
<!-- ------Third project grid container segment --------->

<section>
	<div class="ui basic segment">
		<div class="fade">

			<div class="ui middle aligned stackable grid container">
			  <div class="row">
				<div class="eight wide column">
				  <h3 class="ui header">
					<a href="https://github.com/jacjanowski/ThreeCardPokerProject2" id="project">Three Card Poker</a>	
				</h3>
				  <p>This was a project that was completed when taking my software design class. The components introduced in this project consisted of working with JavaFX and creating event listeners based on the functionality performed by the user. The user is able to place bets and either fold or deal cards in order to play. Another part which was challenging was implementing server and client connections. This will allow two users to play against one another.</p>
				</div>
				<div class="six wide right floated column">
				  <img src="/stylesheets/imgs/poker.gif" class="ui large rounded image" id="zoom"> 
				</div>
			  </div>
			</div>

			<!-- end grid container -->
		</div>
	</div>
</section>

	

<section>
	<div class="ui basic segment">
		<div class="ui text container">
			<h1 class="ui horizontal header divider" id="divider">What's to come</h1>
		  <h3 class="ui header">Currently</h3>
			<p>I will be enrolled in the upcoming Spring sesmester of 2021 at UIC. I will be a full-time student while working my current job. In terms of coding, I have been doing <a target="_blank" href="http://leetcode.com/">LeetCode</a> exercises in various languages and am taking an online course learning <a target="_blank" href="https://www.udemy.com/course/the-complete-react-native-and-redux-course/">'React Native + Hooks'</a> course.</p>


		  <h3 class="ui header">Job Seeking</h3>
		  <p>This past year has been difficult to get to network with others due to the pandemic. As I will be enrolled in the upcoming semester at UIC, taking on those courses will help to solidify my core classes with the understading that will help me to find an intership. Looking for openings for Summer of 2021.</p>

		</div>
		
		<div style="text-align: center; padding-top: 35px;">
			<a href="/contact" class="ui primary button">My Education</a>
		</div>
	  </div>
	
	
	
</section>
<!-- ------------------------------------------------------------------------ -->






<!------- MODAL BUTTON POP UP INFORMATION ------->
<div class="ui basic modal" id="modalShow">
  <div class="ui icon header">
	<i class="phone volume icon"></i>
	Contact me
  </div>
  <div class="content">
	  <h3 class="ui inverted header center aligned" id="modalItem"><em style="color: white;">Phone number: </em><a href="tel:(630)339-6781">(630) 339-6781</a></h3>
	  <h3 class="ui inverted header center aligned" id="modalItem"><em style="color: white;"><i class="envelope outline icon"></i>Email: </em><a href="mailto:jjanow7@uic.edu">jjanow7@uic.edu</a></h3>

  </div>
  <div class="actions" style="text-align: center;">
	<button style="display: inline;" class="ui white basic inverted ok button">Close</button>
  </div>
</div>


<%- include("partials/footer") %>