<%- include("partials/homepageHeader") %>




	<div class="ui middle aligned stackable grid container">
		
			<div class="six wide column">
				<h1 class="ui inverted header" id="name">Jacob Janowski</h1>
				<img src="/stylesheets/imgs/brothers.jpg" class="ui large circular image" id="profile-pic">
				
			</div>
			
			
				<div class="ui middle aligned text container ">
		 		 <p id="banner-text">I am a software engineering student at the University of Illinois in Chicago. I have a <em>great </em>passion for web development and like to spend time working on projects of my own while searching for an opportunity.</p>
				<button class="ui button primary" id="modalBtn"><i class="phone icon"></i>Contact</button>		
				</div>
				
			
		</div> 
	<!-- end grid -->
	</div>
			

	
<!------------ The first row of pictures/information of project -------------------->
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Color Game</h3>
          <p>This is a simple game where the user is given a random RGB value and is to correctly guess which colored tile represents that specific value. When wrong, the tiles disappear. When correct, the whole game board will light up with that color and prompt the user if they wish to play again. There are two modes: Easy, with three tiles, or Hard, with six. This program made use of JQuery, JS, HTML, and CSS <em style="color: black;">(Created together with Colt Steele from Udemy.com)</em></p>
        </div>
        <div class="six wide right floated column">
          <img src="/stylesheets/imgs/colorGame.gif" class="ui large rounded image" id="description-image"> 
        </div>
      </div>
		
		<!-- end grid container -->
	</div>
</div>


<!------------ The second row of pictures/information of project -------------------->
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="six wide left floated column">
          <img src="/stylesheets/imgs/python.gif" class="ui large rounded image" id="description-image"> 
        </div>
		  <div class="eight wide column">
          <h3 class="ui header">Web Scraper</h3>
          <p>This script was written in Python and what it consisted of was a file that would retreive information regarding any changes or updates made to a video game. This would then display inside the console rather than have me going on the website page and finding it that way. It was just good practice for me to understand another approach to programming with another language.</p>
        </div>
      </div>
		

		
		<!-- end grid container -->
	</div>
</div>

<!-- ------Third project grid container segment --------->
<div class="ui vertical segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Color Game</h3>
          <p>This is a simple game where the user is given a random RGB value and is to correctly guess which colored tile represents that specific value. When wrong, the tiles disappear. When correct, the whole game board will light up with that color and prompt the user if they wish to play again. There are two modes: Easy, with three tiles, or Hard, with six. This program made use of JQuery, JS, HTML, and CSS <em style="color: black;">(Created together with Colt Steele from Udemy.com)</em></p>
        </div>
        <div class="six wide right floated column">
          <img src="/stylesheets/imgs/colorGame.gif" class="ui large rounded image" id="description-image"> 
        </div>
      </div>
		
		
			<h2 class="ui horizontal divider header" id="divider">
Future Plans
	</h2>
		
		
      <div class="row">
        <div class="center aligned column">
		<p>
			As of now, I plan on graduating from UIC in the Winter of 2021. By then, I hope to have an internship under my belt which will help me to move forward with opportunities in my life. With that occuring, I will be able to understand the type of environment that I will be spending my time and energy in and continue to learn new ways of developing successful products. I think it would be a really cool idea to launch a personal project of creating a website in which I can generate something useful and fun for others to engage in. Wether it be a blog app or a website with e-commerce. With this portfolio, I hope to create a stronger foundation for myself and to keep heading forward confidently.
		</p>
        </div>
      </div>
		<!-- end grid container -->
	</div>
</div>
<!-- ------------------------------------------------------------------------ -->






<!------- MODAL BUTTON POP UP INFORMATION ------->
<div class="ui basic modal" id="modalShow">
  <div class="ui icon header">
    <i class="phone volume icon"></i>
    Contact me
  </div>
  <div class="content">
      <h3 class="ui inverted header center aligned"><em>Phone number: </em><a>(630)-339-6781</a></h3>
	  <h3 class="ui inverted header center aligned"><em><i class="envelope outline icon"></i>Email: </em><a>jjanow7@uic.edu</a></h3>

  </div>
  <div class="actions" style="text-align: center;">
    <div class="ui white basic ok inverted button">
      Close
	</div>
  </div>
</div>


<%- include("partials/footer") %>