<%- include("partials/homepageHeader") %>




	<div class="ui middle aligned stackable grid container">
		
			<div class="six wide column">
				<h1 class="ui inverted header" id="name">Jacob </h1>
				<img src="/stylesheets/imgs/brothers.jpg" class="ui large circular image" id="profile-pic">
				
			</div>
			
			
				<div class="ui middle aligned text container ">
		 		 <p id="banner-text">I am a software engineering student at the University of Illinois in Chicago. I have a <em>great </em>passion for web development and like to spend time working on projects of my own while searching for an opportunity.</p>
				<button class="ui button primary" id="modalBtn"><i class="phone icon"></i>Contact</button>		
				</div>
				
			
		</div> 
	<!-- end grid -->
	</div>
			

	
<!------------ The first row of pictures/information of project -------------------->
<div class="ui basic segment">
	<div class="ui middle aligned stackable grid container">
	  <div class="row">
		<div class="eight wide column">
		  <h3 class="ui header">Color Game</h3>
		  <p>This is a simple game where the user is given a random RGB value and is to correctly guess which colored tile represents that specific value. When wrong, the tiles disappear. When correct, the whole game board will light up with that color and prompt the user if they wish to play again. There are two modes: Easy, with three tiles, or Hard, with six. This program made use of JQuery, JS, HTML, and CSS <em style="color: black;">(Created together with Colt Steele from Udemy.com)</em></p>
		</div>
		<div class="six wide right floated column">
		  <img src="/stylesheets/imgs/colorGame.gif" class="ui large rounded image" id="description-image"> 
		</div>
	  </div>
		
		<!-- end grid container -->
	</div>
</div>


<!------------ The second row of pictures/information of project -------------------->

	

<div class="ui basic segment">
	<div class="fade">
		<div class="ui middle aligned stackable grid container">
		  <div class="row">
			<div class="six wide left floated column">
			  <img src="/stylesheets/imgs/python.gif" class="ui large rounded image" id="description-image"> 
			</div>
			  <div class="eight wide column">
			  <h3 class="ui header">Web Scraper</h3>
			  <p>This script was written in Python and what it consisted of was a file that would retreive information regarding any changes or updates made to a video game. This would then display inside the console rather than have me going on the website page and finding it that way. It was just good practice for me to understand another approach to programming with another language.</p>
			</div>
		  </div>
		</div>
		<!-- end grid container -->
	</div>
</div>
<!-- ------Third project grid container segment --------->

<div class="ui basic segment">
	<div class="fade">
		
		<div class="ui middle aligned stackable grid container">
		  <div class="row">
			<div class="eight wide column">
			  <h3 class="ui header">Three Card Poker</h3>
			  <p>This was a project that was completed when taking my software design class. The components introduced in this project consisted of working with JavaFX and creating event listeners based on the functionality performed by the user. The user is able to place bets and either fold or deal cards in order to play. Another part which was challenging was implementing server and client connections. This will allow two users to play against one another.</p>
			</div>
			<div class="six wide right floated column">
			  <img src="/stylesheets/imgs/poker.gif" class="ui large rounded image" id="description-image"> 
			</div>
		  </div>
		</div>
		
		<!-- end grid container -->
	</div>
</div>
		
<div class="fade">
	

<div class="ui basic segment">
    <div class="ui text container">
		<h1 class="ui horizontal header divider" id="divider">What's to come</h1>
      <h3 class="ui header">Currently</h3>
      <p>I've been enrolled in a few classes on <a href="https://www.udemy.com/" target="_blank" >Udemy</a> such as learning MySQL and creating little projects on the side. This summer, I just finished completing a course for web development. Just little projects for now. </p>
      
      
      <h3 class="ui header">Job Seeking</h3>
      <p>This past year has been difficult to get to network with others due to the pandemic. As I will be enrolled in the upcoming semester at UIC, taking on those courses will help to solidify my core classes with the understading that will help me to find an intership. With more time being available on my hands during quarantine, I will continue to take classes online (including learning Symfony 4) and get closer to graduating.</p>
      
    </div>
  </div>
</div>
<!-- ------------------------------------------------------------------------ -->






<!------- MODAL BUTTON POP UP INFORMATION ------->
<div class="ui basic modal" id="modalShow">
  <div class="ui icon header">
	<i class="phone volume icon"></i>
	Contact me
  </div>
  <div class="content">
	  <h3 class="ui inverted header center aligned" id="modalItem"><em>Phone number: </em><a>(630)-339-6781</a></h3>
	  <h3 class="ui inverted header center aligned" id="modalItem"><em><i class="envelope outline icon"></i>Email: </em><a>jjanow7@uic.edu</a></h3>

  </div>
  <div class="actions" style="text-align: center;">
	<div class="ui white basic ok inverted button">
	  Close
	</div>
  </div>
</div>


<%- include("partials/footer") %>