<%- include("partials/header") %>


<div class="ui inverted vertical masthead center aligned segment" id="fade-scroll">
	
	<div class="ui large inverted secondary pointing menu">
	  <a class="item">
		Home
	  </a>
	  <a class="item">
		Messages
	  </a>
	  <a class="item active">
		Friends
	  </a>
	</div>

	<div class="ui stackable grid">
	  <div class="row">
		  
		<div class="three wide column">
		  <img src="/stylesheets/imgs/brothers.jpg">
		</div>
		
		<div class="thirteen wide column">
			<h1 class="ui header left floated">Jacob Janowski</h1>
			
			  <p id="banner-text">I am a software engineering stI am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with udent at UIC with a <em>great </em>passion for web development!
				</p>
			
		</div>
		  
			<button class="ui button primary" id="modalBtn">Modal Button</button>
	  </div>
	  		  

		
	</div> 
	<!-- end grid -->
	
</div>
			

	<div class="ui stackable grid">
		
		<div class="ui internally celled stackable grid">
  <div class="row">
    <div class="three wide column">
      <img src="/stylesheets/imgs/brothers.jpg">
    </div>
    <div class="ten wide column">
      		  <p id="body-text">I am a software engineering stI am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering student at UIC with I am a software engineering stuadf asdf sdf sd fsd fsdf we edf wd efwdf wefwd fwdfwdf wdf werf wef wdf ewfd wefw fw dfw fasdf asdf asdfa sdf a df adf asdf sd fds fasdf sddent at UIC with I am a software engineering student at UIC with udent at UIC with a <em>great </em>passion for web development!
		</p>
    </div>
    <div class="three wide column">
      <img src="/stylesheets/imgs/brothers.jpg">
    </div>
  </div>
  <div class="row">
    <div class="three wide column">
      <img src="/stylesheets/imgs/brothers.jpg">
    </div>
    <div class="ten wide column">
      <p>fsdafdasdfasdfadfdasdfasdf</p>
    </div>
    <div class="three wide column">
     <img src="/stylesheets/imgs/brothers.jpg">
    </div>
  </div>
</div>


	</div>



<!------- MODAL BUTTON POP UP INFORMATION ------->
<div class="ui basic modal" id="modalShow">
  <div class="ui icon header">
    <i class="archive icon"></i>
    Archive Old Messages
  </div>
  <div class="content">
    <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>
<%- include("partials/footer") %>