<%- include("partials/homepageHeader") %>




	<div class="ui middle aligned stackable grid container">
		
			<div class="six wide column">
				
				<img src="/stylesheets/imgs/header.jpg" class="ui large circular image" id="profile-pic">
				<h1 class="ui inverted header" style="font-family: 'Darker Grotesque', sans-serif;">Jacob Janowski</h1>
				
			</div>
			
			
				<div id="middle" class="ui middle aligned text container ">
					
				<div class="css-typing">
				  <p>
					Graduate from UIC with BS in CS actively 
				  </p>
				  <p>
					pursuing full time web developer role.
				  </p>
				  
				</div>

					
				<button class="ui inverted blue button" id="modalBtn"><i class="phone icon"></i>Contact</button>

			
			<a target="_blank" class="ui inverted button" href="https://resume.creddle.io/resume/94pcrk7d11z">My Resume</a>
				
					
			</div>
				
			
		</div> 
	<!-- end grid -->
	</div>
			

	
<!------------ The first row of pictures/information of project -------------------->
<section>


	<div class="ui basic segment">
		<div class="ui middle aligned stackable grid container">
		  <div class="row">
			<div class="eight wide column">
			  <h3 class="ui header" style="display: inline-block;">
				  <a href ="https://github.com/jacjanowski/History_Timeline_API" id="project">On This Day in History </a>
				 
				</h3>
				<div class="meta" style="display: inline-block; color: gray;"> <em> -- click to view code</em> </div>
			  <p>With the use of <a href="https://byabbe.se/on-this-day/#/" target="_blank">Wikipedia API</a>, I wanted to create a 'history project'. Built with Node.js, I implemented front-end/back-end code that will retrieve events, births, and deaths from history that were noted. Go learn something from the past! You can view it <a href="http://historytimeline.herokuapp.com/" target="_blank">here.</a> </p>
			</div>
			<div class="six wide right floated column">
			  <img src="/stylesheets/imgs/history.gif" class="ui large rounded image" > 
			</div>
		  </div>

			<!-- end grid container -->
		</div>
	</div>
</section> 

<!------------ The second row of pictures/information of project -------------------->

	
<section>
	<div class="ui basic segment">
		<div class="fade">
			<div class="ui middle aligned stackable grid container">
			  <div class="row">
				<div class="six wide left floated column">
				  <img src="/stylesheets/imgs/discord_bot.gif" class="ui large rounded image" > 
				</div>
				  <div class="eight wide column">
				  <h3 class="ui header">
					<a href="https://github.com/jacjanowski/Discord" id="project">Discord Bot</a>  
				  </h3>
					  <p>This program entails an API from Discord that allows me to create a bot for a particular channel. For example, in this picture you see that I make a few calls such as <code>'!help'</code> or <code>'!fact'</code> which will perform certain actions based on the commands provided. Users of this channel will be able to make several different calls to the bot to interact with it and have a better experience with the information it provides back to the user. This was made using Javascript with frameworks such as NodeJS and Cheerio.js.</p>
				</div>
			  </div>
			</div>
			<!-- end grid container -->
		</div>
	</div>
</section>
<!-- ------Third project grid container segment --------->

<section>
	<div class="ui basic segment">
		<div class="fade">

			<div class="ui middle aligned stackable grid container">
			  <div class="row">
				<div class="eight wide column">
				  <h3 class="ui header">
					<a href="https://github.com/jacjanowski/ArrayAdapterProject" id="project">Movie App</a>	
				</h3>
				  <p>Android Studio project that incorporates the tools of working with an Array Adapter. A list of movies are displayed and allow the user tobe able to click and view the trailer for each movie. Capable of performing 'long-click' to view other websites connected to it. Binding data to each movie is done dynamically via ListViews within the onBindViewHolder.</p>
				</div>
				<div class="six wide right floated column">
				  <img src="/stylesheets/imgs/android.gif" id="iphone" > 
				</div>
			  </div>
			</div>

			<!-- end grid container -->
		</div>
	</div>
</section>


<div class="row" id="slider">
	<div class="container">
		<section class="logo-carousel slider" data-arrows="true">
			<div class="slide"><img src="https://assets-global.website-files.com/5d9bc5d562ffc2869b470941/5e1f9804b36ff7196d4b72a0_logo-react-native-tech.png"></div>
			<div class="slide"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png"></div>
			<div class="slide"><img src="https://download.logo.wine/logo/C%2B%2B/C%2B%2B-Logo.wine.png"></div>
			<div class="slide"><img src="https://i.stack.imgur.com/dMXbE.png"></div>
			<div class="slide"><img src="https://vladmrnv.gallerycdn.vsassets.io/extensions/vladmrnv/expresssnippet/0.2.4/1528939685286/Microsoft.VisualStudio.Services.Icons.Default"></div>
			<div class="slide"><img src="https://cdn.iconscout.com/icon/free/png-512/jquery-225998.png"></div>
			<div class="slide"><img src="https://download.logo.wine/logo/MySQL/MySQL-Logo.wine.png"></div>
			<div class="slide"><img src="https://1000logos.net/wp-content/uploads/2020/08/MongoDB-Logo.png"></div>
			<div class="slide"><img src="https://hwk0702.github.io/img/bs.png"></div>
			<div class="slide"><img src="https://numfocus.org/wp-content/uploads/2016/07/pandas-logo-300.png"></div>
			<div class="slide"><img src="https://2.bp.blogspot.com/-tzm1twY_ENM/XlCRuI0ZkRI/AAAAAAAAOso/BmNOUANXWxwc5vwslNw3WpjrDlgs9PuwQCLcBGAsYHQ/s1600/pasted%2Bimage%2B0.png"></div>
			<div class="slide"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Scikit_learn_logo_small.svg/1200px-Scikit_learn_logo_small.svg.png"></div>
			<div class="slide"><img src="https://miro.medium.com/max/8642/1*iIXOmGDzrtTJmdwbn7cGMw.png"></div>
		</section>
	</div>
</div>
	

<section>
	<div class="ui basic segment">
		<div class="ui text container">
			<h1 class="ui horizontal header divider" id="divider">What's to come</h1>
		  <h3 class="ui header">Currently</h3>
			<p>I have been spending time learning various languages and am taking an online courses learning <a target="_blank" href="https://www.udemy.com/course/the-complete-react-native-and-redux-course/">'React Native + Hooks'</a>. I'll be looking to fill a role as a software developer while considering all available options.</p>
			
			<h3 class="ui header">
				Future Outlook
			</h3>
			<p>
				Will be focusing on making projects that I can monetize and expanding on current ones for better intuition. 
			</p>


		</div>
		
		<!-- <div style="text-align: center; padding-top: 35px;">
			<a href="/contact" class="ui primary button">My Education</a>
		</div> -->
	  </div>
	
	
	
</section>
<!-- ------------------------------------------------------------------------ -->






<!------- MODAL BUTTON POP UP INFORMATION ------->
<div class="ui basic modal" id="modalShow">
  <div class="ui icon header">
	<i class="phone volume icon"></i>
	Contact me
  </div>
  <div class="content">
	  <h4 class="ui inverted header center aligned" id="modalItem"><em style="color: cadetblue; font-size: 22px;">Phone number: </em><a style="color: white;" href="tel:(630)339-6781">(630) 339-6781</a></h3>
	  <h4 class="ui inverted header center aligned" id="modalItem"><em style="color: cadetblue; font-size: 22px;">Email: </em><a style = "color: white;" href="mailto: jacobjanowski.uic@gmail.com">jacobjanowski.uic@gmail.com</a></h3>

  </div>
  <div class="actions" style="text-align: center;">
	<button style="display: inline;" class="ui white basic inverted ok button">Close</button>
  </div>
</div>


<%- include("partials/footer") %>