<%- include("partials/header") %>


<div class="ui inverted vertical masthead center aligned segment" id="fade-scroll">
	
	<div class="ui large inverted secondary pointing menu">
	  <a class="item">
		Home
	  </a>
	  <a class="item">
		Messages
	  </a>
	  <a class="item active">
		Friends
	  </a>
	</div>

	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="six wide column">
				<h1 class="ui inverted header" id="name">Jacob Janowski</h1>
				<img src="/stylesheets/imgs/brothers.jpg" class="ui large bordered rounded image" id="profile-pic">
				<button class="ui button primary" id="modalBtn"><i class="phone icon"></i>Contact</button>
			</div>
			
			<div class="eight wide column">
				<div class="ui text container">
		 		 <p class="ui right aligned" id="banner-text">I am a software engineering student at the University of Illinois in Chicago. I have a <em>great </em>passion for web development and like to spend time working on projects of my own and searching for an opportunity.</p>
			</div>
				
			
		</div>
	</div>
</div> 
	<!-- end grid -->
	
</div>
			

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Color Game</h3>
          <p>This is a simple game where the user is given a random RGB value and is to correctly guess which colored tile represents that specific value. When wrong, the tiles disappear. When correct, the whole game board will light up with that color and prompt the user if they wish to play again. There are two modes: Easy, with three tiles, or Hard, with six. This program made use of JQuery, JS, HTML, and CSS <em>(Created together with Colt Steele from Udemy.com)</em></p>
        </div>
        <div class="six wide right floated column">
          <img src="/stylesheets/imgs/colorGame.gif" class="ui large rounded image" id="description-image"> 
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <h4>Website Information</h4>
			<p>This is a simple game where the user is given a random RGB value and is to correctly guess which colored tile represents that specific value. When wrong, the tiles disappear. When correct, the whole game board will light up with that color and prompt the user if they wish to play again. There are two modes: Easy, with three tiles, or Hard, with six. This program made use of JQuery, JS, HTML, and CSS <em>(Created together with Colt Steele from Udemy.com)</em></p>
        </div>
      </div>
	</div>
</div>



<!------- MODAL BUTTON POP UP INFORMATION ------->
<div class="ui basic modal" id="modalShow">
  <div class="ui icon header">
    <i class="phone icon"></i>
    Contact me
  </div>
  <div class="content">
      <h3 class="ui inverted header center aligned"><em>Phone number: </em><span>(630)-339-6781</span></h3>
	  <h3 class="ui inverted header center aligned"><em>Email: </em><span>jjanow7@uic.edu</span></h3>

  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>
<%- include("partials/footer") %>