<%- include("partials/header") %>


<div class="ui inverted vertical masthead center aligned segment" id="fade-scroll">
	
	<div class="ui large inverted secondary pointing menu">
	  <a class="item">
		Home
	  </a>
	  <a class="item">
		Messages
	  </a>
	  <a class="item active">
		Friends
	  </a>
	  <div class="right menu">
		<a class="item">
		  Logout
		</a>
	  </div>
	</div>

	<div class="ui grid">
	  <div class="row">
		<div class="three wide column">
		  <img src="/stylesheets/imgs/uic.png">
		</div>
		<div class="thirteen wide column">
		  <p >I am a software engineering student at UIC with a <em>great </em>passion for web development!</p>
		</div>
	  </div>
	  <div class="row">
		<div class="three wide column">
		  <img>
		</div>
		<div class="ten wide column">
		  <p></p>
		</div>
		<div class="three wide column">
		  <img>
		</div>
	  </div>
	</div>
</div>

	<div class="container" id="fade-scroll">
		<p >
			contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
		</p>	
		
	</div>

<button class="ui button primary" id="modalBtn">Modal Button</button>


<div class="ui inverted vertical masthead center aligned segment" id="fade-scroll">
	
	<div class="ui large inverted secondary pointing menu">
	  <a class="item">
		Home
	  </a>
	  <a class="item">
		Messages
	  </a>
	  <a class="item active">
		Friends
	  </a>
	  <div class="right menu">
		<a class="item">
		  Logout
		</a>
	  </div>
	</div>

	<div class="ui grid">
	  <div class="row">
		<div class="three wide column">
		  <img src="/stylesheets/imgs/uic.png">
		</div>
		<div class="thirteen wide column">
		  <p >I am a software engineering student at UIC with a <em>great </em>passion for web development!</p>
		</div>
	  </div>
	  <div class="row">
		<div class="three wide column">
		  <img>
		</div>
		<div class="ten wide column">
		  <p></p>
		</div>
		<div class="three wide column">
		  <img>
		</div>
	  </div>
	</div>
</div>

	<div class="container" id="fade-scroll">
		<p >
			contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
		</p>	
		
	</div>

<button class="ui button primary" id="modalBtn">Modal Button</button>


<!------- MODAL BUTTON POP UP INFORMATION ------->
<div class="ui basic modal" id="modalShow">
  <div class="ui icon header">
    <i class="archive icon"></i>
    Archive Old Messages
  </div>
  <div class="content">
    <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>
<%- include("partials/footer") %>