<%- include("partials/header") %>


<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="item" href="/">
      My Portfolio
    </a>
    <a class="item" href="projects">
      Projects
    </a>
    <a class="item active" href="more-information">
      More Information
    </a>
  </div>
</div>




<%- include("partials/footer") %>