<%- include("partials/header") %>

<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="item" href="/">
      My Portfolio
    </a>
    <a class="item active" href="contact">
      Contact
    </a>

  </div>
</div>

<h1>
	Hey sarah
</h1>
<%- include("partials/footer") %>