body {
	background-color: #e3e3e3;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1{
	margin-bottom: 10px;
}

a {
	cursor: pointer;
	
}
#name {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.ui.header {
	font-variant: small-caps;
	color: #008a5a;
}
/*---- 'Address & Contact Information' tag -----*/
.ui.center.aligned.header {
	color: #1b1c1d;
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
	
}

#contact-pic {
	
	display: inline;
}
.ui.ordered.steps {
	margin: auto;
}
em {
	color: whitesmoke;
}

#school-info-text{
	font-size: 1.8em;
}


/* ----------------------------------------- */

p {
	font-size: 1.5em;
}



#profile-pic{

	margin-bottom: 12px;
	box-shadow: 0 4px 8px 0 rgba(211,211,211, 0.2), 0 6px 20px 0 rgba(211, 211, 211, 0.5);

}




/* -----Dealing with alignment and style for jumbotron text----- */
.ui.text.container {
	margin: auto;
}

.column{
	margin: auto;
	
} 

#banner-text {
	margin: auto;
	font-size: 2em;
	padding-bottom: 20px;
}
#description-image {
	box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}


/* ------------------------------------------------------------------ */



/* ------Information like address and where to find you here -------*/



.content {
	margin: auto;
}

.extra {
	text-align: center;
}

.ui.github {
	background: lightgray;
	
}

.ui.middle.aligned.container {
	margin: auto;
}

/* =========================================== */
/* Future plans */

#divider {
	margin-top: 10%;
	color: black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}


.ui.basic.segment:nth-last-of-type(1){
	padding-bottom: 130px;	
}
#toggle-bar {
	padding-top: 15px;
	
}
/* ---------------------------------------- */

.ui.stripe.segment {
	margin: 20px 0 20px 0px;
	
}
.ui.grid>.row {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.footer {
  padding-top: 15px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #787878;
  color: whitesmoke;
  text-align: center;
	
}

#footer-text {
	font-size: 12px;
}

#toggle-bar {
	position: absolute;
	cursor: pointer;
}
#modalItem {
	margin-top: 2rem;
}
.fade {
	opacity: 1;
}


section {
	opacity: 0;
	transform: translate(0, 20px); 
	transition: all 1s;
}

section.visible {
	opacity: 1;
	transform: translate(0, 0); 
}

/* When the hamburger is displayed */
@media (max-width: 768px){
	.mainMenu{
		display: none;
	}
	.mainMenu.hamburger{
		margin-top: 30px;
		display: block;
		cursor: pointer;

	}

	.extra{
		margin-bottom: 15%;
	}
	
	#divider {
		margin-top: 20%;
	}
	#fade-scroll {
		max-height: 500px;
	}
	#profile-pic {
		margin: auto;
		padding: 2px;
		max-width: 120px;
	}
	#banner-text {
		margin: auto;
		padding-top: 10px;
		font-size: 15px;
	}
	.content>h3 {
		margin-top: 10%;
	}
	.ui.ordered.steps {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

}


/* When the hamburger is NOT there yet */
@media (min-width: 769px){
	.mainMenu{
		display: flex;
	}

	#toggle-bar{
		display: none;
	}
	#menuBar {
		margin-bottom: 20px;
	}
	
	.ui.ordered.steps {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

}