body {
	  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#8f9188)) fixed;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h4{
	color: #1b1c1d;
}
h1{
	margin-bottom: 10px;
}

a {
	color: lightcoral;
	text-decoration: underline;
	cursor: pointer;
	
}
a.button {
	
	text-decoration: underline;
}


h3.ui.header {
    color: #000;
	font-family: 'Quicksand', sans-serif;
	
	font-size: 24px;
}
.ui.inverted {
	/* display: block; */
	margin-bottom: 5px;
	margin: auto;
	margin-bottom: 1em;
}
/*---- 'Address & Contact Information' tag -----*/
.ui.center.aligned.header {
	color: #1b1c1d;
	font-family: 'Quicksand', sans-serif;
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
	
}

#contact-pic {
	
	display: inline;
}
.ui.ordered.steps {
	margin: auto;
}

#school-info-text{
	font-size: 1.8em;
}


/* ----------------------------------------- */

p {
	font-size: 1.75em;
	color: #666666;
	font-family: 'Darker Grotesque', sans-serif;
	
}

/* .ui.large.rounded:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
} */

#profile-pic{

	margin-bottom: 12px;
	box-shadow: 0 4px 8px 0 rgba(211,211,211, 0.2), 0 6px 20px 0 rgba(211, 211, 211, 0.5);

}

.school-info li{
	padding: 10px 5px;
	font-size: 20px;
}


/* -----Dealing with alignment and style for jumbotron text----- */
.ui.text.container {
	margin: auto;
}

.column{
	margin: auto;
	
} 

#banner-text {
	margin: auto;
	font-size: 2em;
	padding-bottom: 20px;
}
.six.wide.floated > img {
	box-shadow: 0 30px 20px 0 rgb(0 0 0 / 50%), 0 20px 20px 0 rgb(0 0 0 / 50%);
	/* transition: transform .2s; /* Animation */ */
	width: 450px;
	margin: 0 auto;
}

#iphone {
    width: 350px;
    height: 700px;
}


.facebook.icon, .linkedin.icon, .github.icon {
	font-size: 20px;
	height: 50px;
	width: 50px;
}

/* ------------------------------------------------------------------ */



/* ------Information like address and where to find you here -------*/



.content {
	margin: auto;
}

.extra {
	text-align: center;
}



.ui.middle.aligned.container {
	margin: auto;
}

/* =========================================== */
/* Future plans */

#divider {
	margin-top: 10%;
	color: black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}


.ui.basic.segment:nth-last-of-type(1){
	padding-bottom: 130px;	
}
#toggle-bar {
	padding-top: 15px;
	
}
/* ---------------------------------------- */

.ui.stripe.segment {
	margin: 20px 0 20px 0px;
	
}
.ui.grid>.row {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#footer {
  padding-top: 15px;
  position: relative;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-color: transparent;
  text-align: center;
	
}
#nextPg {
	text-align: center;
}

 #footer-text p{
	 font-size: 18px;
	 color: #000;
	
}
#footer-text {
	color: #1b1c1d;
	font-size: 8px;
}

#toggle-bar {
	position: absolute;
	cursor: pointer;
	margin-right: 85%;
}
#modalItem {
	margin-top: 2rem;
}
.fade {
	opacity: 1;
}


section {
	opacity: 0;
	transform: translate(0, 50px); 
	transition: all 2s;
}

section.visible {
	opacity: 1;
	transform: translate(0, 0); 
}

h3.ui.header > a {
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
  position: relative;
  color: #000;
  text-decoration: none;
}

h3.ui.header > a:hover {
  color: #000;
}
h3.ui.header > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
h3.ui.header > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}



/* When the hamburger is displayed */
@media (max-width: 768px){
	.mainMenu{
		display: none;
	}
	.mainMenu.hamburger{
		margin-top: 30px;
		display: block;
		cursor: pointer;
		justify-content: left;

	}
   .slick-arrow {
    width: 1rem;
    height: 1rem;
  }

	.extra{
		margin-bottom: 15%;
	}
	
	#divider {
		margin-top: 20%;
	}
	#fade-scroll {
		max-height: 500px;
	}
	#profile-pic {
		margin: auto;
		padding: 2px;
		max-width: 120px;
	}
	.css-typing  p {
		margin: auto;
		padding-top: 10px;
		font-size: 22px;
    	text-align: start;
	}
	.content>h3 {
		margin-top: 10%;
	}
	.ui.ordered.steps {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

	.css-typing p {
		/* visibility: hidden; */
		display: none;
	}
	
	#middle {
		display: contents;
		margin: auto;
	}
}

@media (max-width: 900px){
	.css-typing p{
		color: green;
	}
}


.css-typing p {
  border-right: .15em solid orange;
  font-family: "Courier";
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 780px; /* manually set width */
  -webkit-animation: type 2s steps(20, end);
  animation: type 2s steps(20, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 780px; /* manually set width */
  opacity: 0;
  -webkit-animation: type2 2s steps(20, end);
  animation: type2 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 520px; /* manually set width */
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.logo-carousel {
  overflow: inherit;

}

.slick-slide img {
  width: 100%;
}

.slick-track::before,
.slick-track::after {
  display: table;
  content: '';
}

.slick-track::after {
  clear: both;
}

.slick-track {
  padding: 1rem 0;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
  color: #fff;
  filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
  border: none;
  width: 2rem;
  height: 1.5rem;
  text-indent: -10000px;
  margin-top: -16px;
  z-index: 99;
}

.slick-arrow.slick-next {
  right: -40px;
  transform: rotate(180deg);
}

.slick-arrow.slick-prev {
  left: -40px;
}



#slider {
  overflow: hidden;
}  

/* JsFiddle Example only/don't use */
.logo-carousel {
  margin-top: 32px;
}

/* When the hamburger is NOT there yet */
@media (min-width: 769px){
	.mainMenu{
		display: flex;
	}

	#toggle-bar{
		display: none;
	}
	#menuBar {
		margin-bottom: 20px;
	}
	
	.ui.ordered.steps {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

}