body {
	background-color: #e3e3e3;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

span, a{
	color: #3B80AD;
}

/* Links for the menu */
.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item {
	color: white;
	
} 

img {
	min-height: 200px;
	min-width: 250px;
}



#banner-text {
	padding-top: 50px;
	font-size: 2em;
}
#body-text{
	font-size: 55px;
}
.ui.button{
	margin: auto;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #787878;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 1200px)
.ui.container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
}
